*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins_normal_400.woff2") format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/poppins_italic_400.woff2") format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins_normal_700.woff2") format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/poppins_italic_700.woff2") format('woff2');
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins',sans-serif;
}
body.not-active{
    overflow: hidden;
}
a{
    text-decoration: none;
}
.header{
    position: fixed;
    top: 0;
    display: flex;
    padding: 20px 40px 16px;
    justify-content: space-between;
    z-index: 4;
    background-color: transparent;
    width: 100%;
    transition: background-color 0.3s ease;
}
.header.scrolled {
  background-color: white; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header .logo{
    display: inline-block;
}
.header .logo img{
    display: block;
}
.header nav button{
    background: transparent;
    border: none;
}
.header nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-top: 3px;
}
.header nav ul li{
    display: flex;
    align-items: center;
    gap: 8px;
}
.g-search{
    margin-right: 11px;
}
.profile-container{
    position: relative;
}
.profile-container,.profile-container .profile-toggle{
    cursor: pointer;
}

.profile-container .profile-menu{
  position: absolute;
  top: 105%;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  width: 120px;
  z-index: 4;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
}
.profile-container .profile-menu.active{
    display: block;
}
.profile-container .profile-menu a {
  padding: 10px 10px;
  text-decoration: none;
  color: #333;
  display: block;
  text-align: center;
  font-size: clamp(11px, 0.84vw, 16px);
}
.profile-container .profile-menu a.signup-btn {
    border-bottom: 1px solid rgb(185, 183, 183);
}
.profile-container .profile-menu a.signup-btn.not-active{
    display: none;
}
.profile-container .profile-menu a.login-btn.not-active{
    display: none;
}
.profile-container .profile-menu a:last-child{
    border-bottom: none;
}
.profile-menu a:hover {
  background: #f5f5f5;
}
.profile-container .profile-menu a.logout-btn{
    display: none;
}
.profile-container .profile-menu a.logout-btn.active{
    display: block;
}
.profile-menu a.login-btn:has(+ a.logout-btn.active){
    border-bottom: 1px solid rgb(185, 183, 183);
}
.location-list{
    gap: 12px;
}
.location-list span{
    font-size: 1.12rem;
    color: rgb(69, 69, 69);
}
.user-profile{
    width: 50px;
}
.user-profile.not-active{
    display: none;
}
.login-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: 500;
    background-color: rgb(224, 220, 147);
    color: rgb(22, 18, 18);
    font-size: 1.4rem;
}
.nav-btn-container{
    height: fit-content;
    display: flex;
}
.nav-btn-container a{
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
}
.buy-btn{
    background-color: rgb(233, 233, 233);
    color: rgb(76, 21, 187);
    padding: 12px 15px;
}
.sell-btn{
    font-size: 1.1rem;
    background-color: rgb(76, 21, 187);
    color: rgb(233, 233, 233);
    padding: 12px 18px;
}

/*Footer */
footer{
    position: relative;
    background: rgb(19, 16, 25);
    color: white;
}
.ad-container{
    position: absolute;
    width: 100%;
    transform: translateY(-175px);
}
.ad-container img{
    display: block;
    margin: 0 auto; 
    max-width: 96%;
}
.quick-links{
    position: relative;
    padding-top: 285px;
}
.quick-links ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 120px;
}
.quick-links ul li a{
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    position: relative;
}
.quick-links ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  left: 0;
  bottom: -2px;
  transform: scale(0);
  transition: transform 0.3s ease;
}
.quick-links ul li a:hover::after{
  transform: scale(1);
}
.social-media-links{
    padding: 120px 0;
}
.social-media-links ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 45px;
}
.social-media-links ul li a{
    display: inline-block;
     transition: transform 0.5s ease;
}

.social-media-links ul li  a:hover {
  transform: scale(1.12);
}
.copyright-container{
    border-top: 1px solid rgb(130, 126, 133);
    width: 88.54%;
    padding: 45px 0;
    text-align: center;
    margin: 0 auto;
    font-size: 1.09rem;
}
@media screen and (max-width:1600px){
    .header{
        padding: 17px 33px 11px;
    }
    .header .logo img{
        width: 114px;
    }
    .header nav ul{
        gap: 25px;
    }
    .location-list span{
        font-size: 0.93rem;
        margin-right: 3px;
    }
    .location-list img{
        width: 20px;
    }
    .g-search{
        width: 25px;
        margin-right: 8px;
    }
    .user-profile{
        width: 40px;
    }
    .login-profile{
        width: 40px;
        height: 40px;
        font-size: 1.1rem;
    }
    .profile-arrow{
        width: 8px;
    }
    .nav-btn-container a{
        font-size: 0.9rem;
        font-weight: 400;
    }
    .buy-btn{
        padding: 10px 12px;
    }
    .sell-btn{
        padding: 10px 16px;
    }

    .ad-container{
        transform: translateY(-133px);
    }
    .ad-container img{
        display: block;
        margin: 0 auto; 
        max-width: 95.5%;
    }
    .quick-links{
        padding-top: 240px;
    }
    .quick-links ul{
        gap: 100px;
    }
    .quick-links ul li a{
        font-size: 1.25rem;
    }
    .social-media-links{
        width: 98.3%;
        padding: 100px 0 92px;
    }
    .social-media-links ul{
        gap: 35px;
    }
    .social-media-links ul li .insta-img{
        width: 43px;
    }
    .social-media-links ul li .fb-img{
        width: 22px;
    }
    .social-media-links ul li .twitter-img{
        width: 50px;
    }
    .copyright-container{
        padding: 38px 0 35px;
        font-size: 0.9rem;
    }
}

@media screen and (max-width:1400px){
    .header{
        padding: 14px 28px 9px;
    }
    .header .logo img{
        width: 98px;
    }
    .header nav ul{
        gap: 21px;
        padding-top: 2px;
    }
    .header nav ul li{
        gap: 5px;
    }
    .location-list span{
        font-size: 0.8rem;
    }
    .location-list img{
        width: 16px;
    }
    .g-search{
        width: 21px;
        margin-right: 9px;
    }
    .profile-container .profile-menu {
        width: 110px
    }
    .user-profile{
        width: 35px;
    }
    .login-profile{
        width: 35px;
        height: 35px;
        font-size: 0.9rem;
    }
    .profile-arrow{
        width: 7px;
    }
    .nav-btn-container a{
        font-size: 0.8rem;
        font-weight: 400;
    }
    .buy-btn{
        padding: 8.5px 10px;
    }
    .sell-btn{
        padding: 8.5px 13px;
    }

    .ad-container{
        transform: translateY(-133px);
    }
    .ad-container img{
        max-width: 95.5%;
    }
    .quick-links{
        padding-top: 14%;
    }
    .quick-links ul{
        gap: 87px;
    }
    .quick-links ul li a{
        font-size: 1.05rem;
    }
    .social-media-links{
        width: 98.3%;
        padding: 6.5% 0 5.6%;
    }
    .social-media-links ul{
        gap: 30px;
    }
    .social-media-links ul li .insta-img{
        width: 35px;
    }
    .social-media-links ul li .fb-img{
        width: 19px;
    }
    .social-media-links ul li .twitter-img{
        width: 42px;
    }
    .copyright-container{
        padding: 2.4% 0 2.2%;
        font-size: 0.8rem;
    }
}

@media screen and (max-width:1024px){
    .header{
        padding: 11px 21px 5px;
    }
    .header .logo img{
        width: 73px;
    }
    .header nav ul{
        gap: 15px;
        padding-top: 0px;
    }
    .header nav ul li{
        gap: 3px;
    }
    .location-list span{
        font-size: 0.7rem;
    }
    .location-list img{
        width: 13px;
    }
    .g-search{
        width: 16px;
        margin-right: 5px;
    }
    .user-profile{
        width: 30px;
    }
    .user-profile{
        width: 30px;
        height: 30px;
        font-size: 0.77rem;
    }
    .profile-arrow{
        width: 6px;
    }
    .profile-container .profile-menu {
        width: 90px;
        border-radius: 3px;
    }
    .nav-btn-container a{
        font-size: 0.62rem;
    }
    .buy-btn{
        padding: 7px 7px;
    }
    .sell-btn{
        padding: 7px 9px;
    }

    .quick-links{
        padding-top: 14.5%;
    }
    .quick-links ul{
        gap: 64px;
    }
    .quick-links ul li a{
        font-size: 0.9rem;
    }
    .social-media-links{
        width: 98.3%;
        padding: 6.3% 0 5.4%;
    }
    .social-media-links ul{
        gap: 22px;
    }
    .social-media-links ul li .insta-img{
        width: 27px;
    }
    .social-media-links ul li .fb-img{
        width: 15px;
    }
    .social-media-links ul li .twitter-img{
        width: 30px;
    }
    .copyright-container{
        padding: 2.4% 0 2.2%;
        font-size: 0.7rem;
    }
}

@media screen and (max-width:768px){
  
    .g-search{
        width: 14px;
        margin-right: 5px;
    }
    .location-list span{
        font-size: 0.65rem;
    }
    .location-list img{
        width: 11px;
    }
    .profile-arrow{
        width: 6px;
    }
      .profile-container .profile-menu {
        width: 80px;
        border-radius: 3px;
    }
    .nav-btn-container a{
        font-size: 0.6rem;
    }
    .buy-btn{
        padding: 6px 6px;
    }
    .sell-btn{
        padding: 6px 8px;
    }

    .quick-links ul{
        gap: 45px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-inline: clamp(20px, 5vw, 5vw);
    }
    .quick-links ul li a{
        font-size: 0.8rem;
    }
    .social-media-links ul li .insta-img{
        width: 24px;
    }
    .social-media-links ul li .fb-img{
        width: 13px;
    }
    .social-media-links ul li .twitter-img{
        width: 28px;
    }
    .social-media-links{
        width: 98.3%;
    }
    .copyright-container{
        padding: 20px 0 15px;
        font-size: 0.6rem;
    }
}

@media screen and (max-width:600px){
      .header .logo img{
        width: 65px;
    }
    .profile-container .profile-menu {
        width: 75px;
        border-radius: 2px;
    }
    .profile-container .profile-menu a{
        padding:7px 8px;
    }
    .header{
        padding: 10px 16px 7px;
    }
    .nav-btn-container a{
        font-size: 0.6rem;
    }
    .buy-btn{
        padding: 5px 5px;
    }
    .sell-btn{
        padding: 5px 7px;
    }

    .quick-links ul{
        gap: 30px;
        margin: 0 auto;
        row-gap: 18px;
    }
    /* .quick-links ul li a{
        font-size: 0.7rem;
    } */
    .social-media-links{
        gap: 30px;
    }
    .social-media-links ul li .insta-img{
        width: 22px;
    }
    .social-media-links ul li .fb-img{
        width: 12px;
    }
    .social-media-links ul li .twitter-img{
        width: 25px;
    }
    .social-media-links{
        padding: 6.9% 0 5.8%;
    }
    .copyright-container{
        padding: 18px 0 13px;
    }
}

@media screen and (max-width:480px){
      .header .logo img{
        width: 60px;
    }
    .header nav ul {
        gap: 10px;
    }
    .user-profile{
        width: 26px;
        height: 26px;
    }
    .login-profile{
        width: 26px;
        height: 26px;
        font-size: 0.65rem;
    }
    .slider-item{
        top: 56%;
    }
    
    .ad-container{
        transform: translateY(-45px);
    }
    .ad-container img{
        min-height: 75px;
    }
    .quick-links{
        padding-top:clamp(60px, 16%, 16%);
    }
     .quick-links ul li a{
        font-size: 12px;
    }

    .social-media-links{
        padding: 10% 0 5.8%;
    }
}