.header{
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main-container{
    background-color: rgb(52, 40, 60);
}
.product-list-wrapper{
    max-width: 89.584%;
    margin: 0 auto;
    padding: 22px 0px 480px;
    padding-left: 10px;
}

.product-list-container{
    padding-top: 2.83vw;
    display: flex;
    gap: 2.66vw;
}
/* Profile Card  Container */
.profile-card{
    min-width: 23.85vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 2.50vw 0;
}

.avatar-container {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.avatar {
  width: 130px;
  height: 130px;
  background-color: #e7e08b;
  color: rgb(22, 19, 19);
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 4.17vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.camera-icon {
  position: absolute;
  bottom: 0;
  right: -2px;
  bottom: 3px;
  padding: 4px;
}

.profile-name {
  font-size: 1.50vw;
  font-weight: 600;
  margin: 4px 0 1px;
  color: rgb(32, 31, 31);
}

.member-since {
  font-size:  0.83vw;
  color: #c4bfbf;
}

.location {
  font-size: 1.04vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.follow-btn {
  background-color: rgb(87, 24, 190);
  color: white;
  border: none;
  padding: 10px 80px;
  margin: 32px 0;
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.follow-icon{
    width: 31px;
    height: 31px;
    filter: brightness(0) invert(1);
    background-color: transparent;
}
.social-icons{
    padding: 18px 0 7px;
}
.social-icons img {
  width: 24px;
  height: 24px;
  margin: 0 11px;
  cursor: pointer;
}
/*Product lists */
.product-list-header{
    padding-bottom: 36px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-list-header h2{
    color: rgb(255, 255, 253);
    font-weight: 500;
    font-size: 1.3rem;
    margin-left: 17px;
}
.product-list-header h2 span{
    color: #aaa;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 10px;
}
.sort-label{
    color:#aaa;
    font-size: 1.1rem;
}
.sort-dropdown {
    position: relative;
    display: inline-block;
}
.sort-button{
    margin-left: 10px;
    background-color: transparent;
    border: none;
    color: rgb(148, 120, 194);
    font-size: 1.1rem;
}
.sort-button img{
    margin-left: 30px;
    margin-right: 20px;
    color: rgb(148, 120, 194);
}
.sort-options {
    display: none;
    position: absolute;
}
.sort-dropdown.active .sort-options {
    display: block;
}

.product-list-body{
    display: grid;
    grid-template-columns: repeat(3,minmax(140px, 1fr));
    gap: 2.083333vw;
}
.product-item{
    position: relative;
    display: block;
}
.product-item > img{
    width: 100%;
}
.product-item span{
    position: absolute;
    right: 26px;
    top: 26px;
}
.product-content{
    margin-top: 17px;
}
.product-shoe-name{
    font-size: 1.35rem;
    color:rgb(204, 193, 210);
    margin-bottom: 5px;
    text-transform: capitalize;
}
.product-shoe-price{
  font-size: 1.3rem;
  color:rgb(231, 229, 229);
  font-weight: 500;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2.345vw 0 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.pagination .page, .pagination .prev, .pagination .next {
  border: none;
  background-color: transparent;
  font-size: 0.92vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.pagination .page{
  width: 28px;
  height: 28px;
}
.pagination .prev,.pagination .next{
  padding: 5px;
}
.pagination .prev:hover,
.pagination .next:hover{
  background-color:  rgba(0,0,0,0.9);
  color: white
}
 .pagination .page.active{
  background-color: rgb(85, 21, 180);
  border-radius: 50%;
  color: #fff;
}

.filter-title-close{
    margin-bottom: 5px;
}

/*Footer */
footer{
    padding-top: 90px;
}

.quick-links {
   padding-top: 0;
}

@media screen and (max-width:1600px){
    .g-search{
        margin-right: 7px;
    }
    .product-list-wrapper{
        padding: 20px 0px 400px;
    }
    .product-list-container{
        padding-top: 2.78vw;
    }
    .avatar {
        width: 110px;
        height: 110px;
    }
    .camera-icon{
        width: 35px;
    }
    .location-icon{
        width: 16px;
    }
    .follow-btn {
        font-size: 1rem;
        padding: 8px 80px;
        margin: 28px 0;
        width: 210px;
    }
    .follow-icon{
        width: 28px;
        height: 28px;
    }
    .social-icons{
        padding: 12px 0 7px;
    }
    .social-icons img {
        width: 20px;
        height: 20px;
        margin: 0 8px;
    }
    .product-list-header{
        padding-bottom: 28px;
        padding-right: 0;
    }
    .product-list-header h2{
        font-size: 1.2rem;
        margin-left: 15px;
    }
    .product-list-header h2 span{
        font-size: 0.9rem;
    }
    .sort-label{
        font-size: 0.9rem;
    }
    .sort-button{
        font-size: 0.9rem;
        margin-left: 4px;
    }
    .sort-button img{
        margin-left: 20px;
        margin-right: 15px;
        width: 12px;
    }
    
    .product-item span{
        right: 20px;
        top: 20px;
    }

    .product-item span img{
        width: 22px;
    }
    .product-content{
        margin-top: 15px;
    }
    .product-shoe-name{
        font-size: 1.15rem;
    }
    .product-shoe-price{
        font-size: 1.2rem;
    }
    .pagination .page{
        width: 26px;
        height: 26px;
    }
    footer{
        padding-top: 80px;
    }
}

@media screen and (max-width:1400px){
    .g-search{
        margin-right: 7px;
    }
    .product-list-wrapper{
        padding: 20px 0px 340px;
    }
    .product-list-container{
        padding-top: 2.54vw;
    }
  
    .avatar {
        width: 93px;
        height: 93px;
    }
    .camera-icon{
        width: 30px;
    }
    .member-since{
        font-size: 8.5px;
    }
    .location-icon{
        width: 12px;
    }
    .follow-btn {
        font-size: 0.8rem;
        padding: 8px 80px;
        margin: 22px 0;
        width: 180px;
    }
    .follow-icon{
        width: 24px;
        height: 24px;
    }
    .social-icons{
        padding: 10px 0 5px;
    }
    .social-icons img {
        width: 18px;
        height: 18px;
        margin: 0 8px;
    }
    .product-list-header{
        padding-bottom: 25px;
    }
    .product-list-header h2{
        font-size: 1.02rem;
        margin-left: 13px;
    }
    .product-list-header h2 span{
        font-size: 0.9rem;
    }
    .sort-label,.sort-button{
        font-size: 0.8rem;
    }
    .sort-button img{
        width: 10px;
    }
    .product-item span{
        right: 18px;
        top: 18px;
    }
    .product-item span img{
        width: 21px;
    }
    .product-content{
        margin-top: 12px;
    }
    .product-shoe-name{
        font-size: 1rem;
    }
    .product-shoe-price{
        font-size: 1.05rem;
    }
    .pagination{
        gap: 8px;
    }
    .pagination .page{
        width: 21px;
        height: 21px;
    }
    footer{
        padding-top: 68px;
    }
}

@media screen and (max-width:1024px){
    .product-list-wrapper{
        max-width: 88.5%;
        padding: 18px 0px 250px;
    }
    .product-list-container{
        padding-top: 2.2vw;
    }
  
    .avatar {
        width: 70px;
        height: 70px;
    }
    .profile-name{
        margin: 0;
    }
    .camera-icon{
        width: 25px;
        right: -3px;
        bottom: 2px;
    }
    .location{
        margin-top: 5px;
        gap: 4px;
    }
    .location-icon{
        width: 9px;
    }
    .follow-btn {
        font-size: 0.6rem;
        padding: 4px 40px;
        margin: 18px 0 15px;
        width: 135px;
    }
    .follow-icon{
        width: 20px;
        height: 20px;
    }
    .social-icons{
        padding: 8px 0px 0px;
    }
    .social-icons img {
        width: 14px;
        height: 14px;
        margin: 0 5px;
    }
    .product-list-header{
        padding-bottom: 15px;
    }
    .product-list-header h2{
        font-size: 0.75rem;
        margin-left: 9px;
    }
    .product-list-header h2 span{
        font-size: 0.7rem;
    }
    .sort-label,.sort-button{
        font-size: 0.6rem;
    }
    .sort-button{
        margin-left: 2px;
    }
    .sort-button img{
        width: 8px;
        margin-right: 10px;
        margin-left: 15px;
    }
    .product-item span{
        right: 12px;
        top: 10px;
    }
    .product-item span img{
        width: 15px;
    }
    .product-content{
        margin-top: 5px;
    }
    .product-shoe-name{
        font-size: 0.75rem;
        margin-bottom: 2px;
    }
    .product-shoe-price{
        font-size: 0.7rem;
    }
    .pagination .page,.pagination .prev,.pagination .next{
        font-size: 9.77px;
    }
    .pagination .page {
        width: 19px;
        height: 19px;
    }
    footer{
        padding-top: 50px;
    }
}

@media screen and (max-width:768px){
    .product-list-wrapper{
        padding: 18px 0px 180px;
    }
    .product-list-container{
        padding-top: 18px;
        gap: 22px;
    }
    .profile-card{
        padding: 20px 0;
        min-width: 200px;
    }
    .avatar {
        font-size: 18px;
        line-height: 28px;
        width: 65px;
        height: 65px;
    }
    .profile-name{
        font-size: 12px;
    }
    .location{
        margin-top: 5px;
        gap: 4px;
        font-size: 8px;
    }
    
    .follow-btn {
        margin: 15px 0 12px;
        width: 120px;
        gap: 5px;
    }
    .follow-icon{
        width: 18px;
        height: 18px;
    }
    
    .product-list-header{
        padding-bottom: 15px;
    }
    .product-list-header h2{
        font-size: 0.7rem;
        margin-left: 5px;
    }
    .product-list-header h2 span{
        font-size: 0.65rem;
    }

    .sort-button img{
        margin-left: 10px;
    }
    .product-list-body{
        grid-template-columns: repeat(2,minmax(140px, 1fr));
        gap: 18px;
    }
    .product-content{
        margin-top: 3px;
    }
    .product-shoe-name{
        font-size: 0.7rem;
    }
    .product-shoe-price{
        font-size: 0.65rem;
    }
    .pagination .page, .pagination .prev,.pagination .next{
        font-size: 10px;
    }
    footer{
        padding-top: 40px;
    }
}


@media screen and (max-width:600px){
    .product-list-wrapper{
        padding: 18px 0px 130px;
        gap: 25px;
    }
    .product-list-container{
        padding-top: 18px;
        gap: 22px;
        flex-direction: column;
    }
    .profile-card{
        min-width: 80%;
        margin: 0 auto;
    }
    .profile-name{
        font-size: 14px;
    }
   
    .follow-btn {
        width: 150px;
    }
    
}
@media screen and (max-width:480px){
    .product-list-wrapper{
        max-width: 80%;
        padding: 18px 0px 130px;
    }
    .product-list-header h2{
        margin-left: 5px;
    }
    .pagination .page{
        width: 18px;
        height: 18px;
    }

}

@media screen and (max-width:400px){
    .profile-card{
        min-width: 100%;
    }
    .product-list-body{
        grid-template-columns: repeat(1,1fr);
    }
}