.hero-container{
    position: relative;
    width: 100%;
    overflow: hidden;
} 
.slider-container{
    display: flex;
    width: 300%;
    transition: transform 0.6s ease-in-out;
    position: relative;
    top: 0;
}
.slider{
    position: relative;
    width: 100%;
}
.slider-img{
    width: 100%;
    height: 100%;
    display: block; 
}

.slider-item{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 41.5%;
    transform: translateY(-42%);
}

.slider-desc{
    width: 40%;
    font-size: 60px;
    margin-left: 150px;
    color:rgb(37, 8, 92);
    line-height: 80px;
    font-weight: 800;
    font-weight: 900;
}
.slider-indicator-container{
    position: absolute;
    bottom: 108px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}
.slider-indicator-container button{
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    border: 2px solid rgb(76, 21, 187);
    background-color: rgb(236, 218, 216);
}
.slider-indicator-container button.active{
    background-color: rgb(76, 21, 187);
}
.slider-btn{
    position: absolute;
    top: 43.6%;
    transform: translateY(-42%);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
    margin-top: 4px;
}
.prev{
    left:3.4%;
}

.next{
    right: 3.4%;
}
.discover-btn{
    font-size: 1.25rem;
    color: rgb(76, 21, 187);
    margin-left: 150px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 60px;
    display: inline-flex;
    width: fit-content;
    align-items: center;
    padding:2px 5px;
}
.discover-btn .arrow{
    margin-left: 20px;
    width: 25px;
}
.discover-btn:hover{
    color:#a400ff
}
.discover-btn:hover .arrow {
  filter: sepia(1) saturate(1900%) hue-rotate(270deg) brightness(1);
}
/*Recent Searches*/
.main-container{
    background-color: rgb(52, 40, 60);
    position: relative;
}

.search-wrapper{
    position: absolute;
    margin: 0 auto;
    padding:40px 45px 30px;
    left: 50%;
    background-color: #fff;
    width: 52.1%;
    height: fit-content;
    left: 50%;
    transform: translate(-50%,-68px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.search-wrapper input{
    border: none;
    border-bottom: 1px solid rgb(138, 136, 149);
    width: 100%;
    font-size: 1.23rem;
    padding: 0px 44px 17px;
    background-color: transparent;
    outline: none;
}
.search-wrapper input::placeholder{
    color: rgb(156, 113, 231);
}
.input-container{
    position: relative;
}
.input-container span{
    position: absolute;
    left: 5px;
    bottom: 11px;
}
.recent-searches{
    padding-top:72px;
}
.recent-searches h3{
    text-align: center;
    color: rgb(170, 162, 177);
    font-weight: normal;
    font-size: 1.3rem;
}

.recent-search-list {
  display: flex;
  justify-content: center;
  max-width: 80%;
  flex-wrap: wrap;
  gap: 22px;
  margin: 0 auto;
  padding: 40px 0px;
}

.recent-search-tag {
  padding: 16px 28px;
  background-color: rgb(88, 80, 95);
  color: #fff;
  border-radius: 30px;
  font-size: 1.135rem;
  transition: background-color 0.3s ease;
  font-weight: normal;
}

.recent-search-tag:hover {
  background-color: #5e3ea1;
}
/*Popular Brands */
.popular-brands{
    padding: 60px 0 40px;
    width: 100%;
}
.section-title{
    color: rgb(240, 242, 239);
    text-align: center;
    font-size: 2.8rem;
    letter-spacing: 2px;
}
.popular-shoes-container{
    display: flex;
    justify-content: center;
    gap: 120px;
    padding:110px 0
}
.popular-shoe-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.brand-box{
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 40px;
  transform: rotate(45deg); 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:  transform 0.6s ease;
}


.brand-box:hover .brand-rotated{
    transform: rotate(-40deg);
}
.brand-box:hover{
    background-color: rgb(235, 244, 239);
}
.brand-rotated {
  transform-origin: center center;
  transition: transform 0.6s ease;
  transform: rotate(-20deg); 
  width: 80%;
}

.brand-rotated img {
  width: 100%;
  height: auto;
  display: block;
}

.brand-name {
    font-size: 1.5rem;
    color: white;
}

/*Shop Under Budget */
.shop-under-budget{
    padding: 100px 0 300px;
}
.shop-button-container{
    display: flex;
    margin: 0 auto;
    width: 1600px;
    justify-content: center;
    gap: 85px;
    padding-top: 80px;
}
.budget-btn {
  padding: 14px 10px;
  width: 225px;
  height: 225px;
  color: #fff;
  background-color: transparent; 
  border: none;
  border-radius: 50%;
  cursor: pointer;

  background-image: repeating-linear-gradient(
    135deg,                        
    rgba(255, 255, 255, 0.15),  
    rgba(255, 255, 255, 0.15)5px,
    transparent 9px                 
  );
}
.budget-btn:hover{
    background-image: repeating-linear-gradient(
    135deg,                        
    rgba(255, 255, 255, 0.15),  
    rgba(255, 255, 255, 0.15)5px,
    transparent 7px  )
}
.budget-btn span{
    display: block;
}
.between{
    font-size: 1.5rem;
    color:rgb(141, 139, 144) ;
    font-weight: 500;
}
.budget-price{
    font-size: 2.2rem;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(242, 240, 245);
}
.insta-fixed-container{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 40px;
    background: url("../images/instabg.jpg");
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:1600px){
    .slider-item{
        top: 44.9%;
        transform: translateY(-50%);
    }
    .slider-desc{
        font-size: 50px;
        margin-left: 8.4%;
        line-height: 66px;
    }
    .slider-btn img{
        width: 30px;
    }
    .prev{
        left:3.7%;
    }
    .next{
        right: 3.7%;
    }
    .discover-btn{
        font-size: 1.05rem;
        margin-left:8.4%;
        margin-top: 50px;
    }
    .discover-btn .arrow{
        margin-left: 16px;
        width: 25px;
    }
    .slider-indicator-container{
        bottom: 90px;
        gap: 16px;
    }
    .slider-indicator-container button{
        width: 13px;
        height: 13px;
    }
    .search-wrapper{
        padding:28px 38px 26px;
        width: 52.1%;
        left: 50%;
        transform: translate(-50%,-57px);
    }
    .search-wrapper input{
        font-size: 1.1rem;
        padding: 0px 38px 12px;
    }
      .input-container img{
        width: 18px;
    }
    .input-container span{
        bottom: 8px;
    }
    .recent-searches{
        padding-top: 3.8%;
    }
    .recent-searches h3{
        font-size: 1.1rem;
    }
    .recent-search-list{
        gap: 18px;
        padding: 32px 0px;
    }
    .recent-search-tag{
        padding: 12px 24px;
        font-size: 0.961rem;
        border-radius: 25px;
    }
    .popular-brands{
        padding: 52px 0 35px;
    }
    .section-title{
        font-size: 2.48rem;
        letter-spacing: 0.5px;
    }
    .popular-shoes-container{
        padding: 90px 0;
        gap: 104px;
    }
    .popular-shoe-container{
        gap: 40px;
    }
    .brand-box{
        width: 166px;
        height: 166px;
    }
    .brand-rotated {
        transform: rotate(-28deg); 
    }
    .brand-box:hover .brand-rotated{
        transform: rotate(-48deg);
    }
    .brand-rotated img{
        margin-bottom: 20px;
    }
    .brand-name{
        font-size: 1.3rem;
    }
   
    .shop-under-budget{
        padding: 115px 0 245px;
    }
    .shop-button-container{
        padding-top: 70px;
        gap: 70px;
        max-width: 100%;
    }
    .budget-btn{
        padding:0px;
        width: 188px;
        height: 188px;
        background-image: repeating-linear-gradient(
        135deg,                        
        rgba(255, 255, 255, 0.15),  
        rgba(255, 255, 255, 0.15)2px,
        transparent 7px );
    }
    .between{
        font-size: 1.3rem;
    }
    .budget-price{
        font-size: 1.9rem;
    }
    .insta-fixed-container{
        width: 48px;
        height: 48px;
        top: 32px;
    }
    .insta-fixed-container img{
        width: 30px;
        height: 30px;
    }
    
}

@media screen and (max-width:1400px){
    .slider-item{
        top: 44.7%;
        transform: translateY(-50%);
    }
    .slider-desc{
        font-size: 43px;
        margin-left: 8.35%;
        line-height: 57px;
    }
    .slider-btn img{
        width: 25px;
    }
    .prev{
        left:3.6%;
    }
    .next{
        right: 3.6%;
    }
    .discover-btn{
        font-size: 0.9rem;
        margin-left:8.35%;
        margin-top: 44px;
    }
    .discover-btn .arrow{
        margin-left: 14px;
        width: 20px;
    }
    .slider-indicator-container{
        bottom: 78px;
        gap: 16px;
    }
    .slider-indicator-container button{
        width: 12px;
        height: 12px;
    }
    .search-wrapper{
        padding:26px 32px 22px;
        width: 52.1%;
        transform: translate(-50%,-51px);
    }
    .search-wrapper input{
        font-size: 0.9rem;
        padding: 0px 32px 11px;
    }
      .input-container img{
        width: 15px;
    }
    .input-container span{
        bottom: 6px;
    }
    .recent-searches h3{
        font-size: 0.9rem;
    }
    .recent-search-list{
        gap: 17px;
        padding: 28px 0px;
    }
    .recent-search-tag{
        padding: 11px 21px;
        font-size: 0.8rem;
    }
    .popular-brands{
        padding: 3.27% 0 35px;
    }
    .section-title{
        font-size: 2.12rem;
    }
    .popular-shoes-container{
        padding: 5.5% 0;
        gap: 70px;
        max-width: 83%;
        flex-wrap:wrap;
        align-items: center;
        margin: 0 auto;
    }
    .popular-shoe-container{
        gap: 35px;
    }
    .brand-box{
        width: 142px;
        height: 142px;
        border-radius: 30px;
    }
    .brand-rotated {
        transform: rotate(-26deg);
        width: 76%; 
    }
     .brand-box:hover .brand-rotated{
        transform: rotate(-40deg);
    }
    .brand-rotated img{
        margin-bottom: 15px;
    }
    .brand-name{
        font-size: 1.1rem;
    }
    
    .shop-under-budget{
        padding: 100px 0 210px;
    }
    .shop-button-container{
        padding-top: 60px;
        gap: 4.39%;
    }
    .budget-btn{
        width: 161px;
        height: 161px;
        background-image: repeating-linear-gradient(
        135deg,                        
        rgba(255, 255, 255, 0.15),  
        rgba(255, 255, 255, 0.15)2px,
        transparent 7px );
    }
    .between{
        font-size: 1.1rem;
    }
    .budget-price{
        font-size: 1.5rem;
        margin-top: 2px;
    }
    .insta-fixed-container{
        width: 42px;
        height: 42px;
        top: 30px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    .insta-fixed-container button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .insta-fixed-container img{
        width: 25px;
        height: 25px;
    }
    

}

@media screen and (max-width:1024px){ 
    
    .slider-item{
        top: 47.5%;
        transform: translateY(-50%);
    }
    .slider-desc{
        font-size: 32px;
        margin-left: 8.37%;
        line-height: 45px;
    }
    .slider-btn img{
        width: 18px;
    }
    .discover-btn{
        font-size: 0.65rem;
        margin-left:8.37%;
        margin-top: 32px;
    }
    .discover-btn .arrow{
        margin-left: 10px;
        width: 15px;
    }
    .slider-indicator-container{
        bottom: 13.87%;
        gap: 12px;
    }
    .slider-indicator-container button{
        width: 9px;
        height: 9px;
    }
    .search-wrapper{
        padding:15px 26px 18px;
        transform: translate(-50%,-38px);
    }
    .search-wrapper input{
        font-size: 0.7rem;
        padding: 0px 28px 9px;
    }
    .input-container img{
        width: 12px;
    }
    .input-container span{
        bottom: 4px;
    }
    .recent-searches{
        padding-top: 4%;
    }
    .recent-searches h3{
        font-size: 0.7rem;
    }
    .recent-search-list{
        gap: 12px;
        padding: 20px 0px;
    }
    .recent-search-tag{
        padding: 9px 15px;
        font-size: 0.62rem;
    }
    .popular-brands{
        padding: 3.27% 0 35px;
    }
    .section-title{
        font-size: 1.55rem;
    }
    .popular-shoes-container{
        padding: 5.5% 0 4.5%;
        gap: 60px;
    }
    .popular-shoe-container{
        gap: 27px;
    }
    .brand-box{
        width: 107px;
        height: 107px;
        border-radius: 25px;
    }
    .brand-rotated {
        transform: rotate(-26deg);
        width: 78%; 
    }
    .brand-rotated img{
        margin-bottom: 10px;
    }
    .brand-name{
        font-size: 0.85rem;
    }
    
    .shop-under-budget{
        padding: 75px 0 158px;
    }
    .shop-button-container{
        padding-top: 40px;
        gap: 4.39%;
    }
    .budget-btn{
        width: 122px;
        height: 122px;
        background-image: repeating-linear-gradient(
        135deg,                        
        rgba(255, 255, 255, 0.15),  
        rgba(255, 255, 255, 0.15)1px,
        transparent 5px );
    }
    .between{
        font-size: 0.85rem;
    }
    .budget-price{
        font-size: 1.05rem;
        margin-top: 4px;
    }
    .insta-fixed-container{
        width: 30px;
        height: 30px;
        top: 25px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .insta-fixed-container img{
        width: 18px;
        height: 18px;
    }
    .ad-container{
        transform: translateY(-90px);
    }
    .ad-container img{
        max-width: 95.41%;
    }
    
}

@media screen and (max-width:768px) {
    .slider-item{
        top: 55%;
    }
    .slider-desc{
        font-size: 26px;
        line-height: 36px;
        margin-left: 8.5%;
    }
    .slider-btn img{
        width: 15px;
    }
    .discover-btn{
        font-size: 0.65rem;
        margin-left:8.5%;
        margin-top: 25px;
    }
    .discover-btn .arrow{
        margin-left: 10px;
        width: 13px;
    }
    .slider-indicator-container{
        gap: 10px;
    }
    .slider-indicator-container button{
        width: 8px;
        height: 8px;
    }
    .search-wrapper{
        padding:10px 22px 14px;
        transform: translate(-50%,-25px);
    }
    .search-wrapper input{
        font-size: 0.7rem;
        padding: 0px 26px 8px;
    }
    .input-container img{
        width: 11px;
    }
    .input-container span{
        bottom: 3px;
    }
    .recent-searches{
        padding-top: 5.2%;
    }
    .popular-brands{
        padding: 35px 0 35px;
    }
    .section-title{
        font-size: 1.4rem;
    }
    .popular-shoes-container{
        padding: 6% 0 4.1%;
    }
    .popular-shoe-container{
        gap: 25px;
    }
    .brand-box{
        width: 105px;
        height: 105px;
    }
    .brand-name{
        font-size: 0.8rem;
    }
    
    .shop-under-budget{
        padding: 50px 0 130px;
    }
    .shop-button-container{
        padding-top: 40px;
        gap: 35px;
        max-width: 90%;
        flex-wrap: wrap;
    }
    .budget-btn{
        width: 110px;
        height: 110px;
    }
    .between{
        font-size: 0.75rem;
    }
    .budget-price{
        font-size: 0.9rem;
        margin-top: 4px;
    }
    .ad-container{
        transform: translateY(-75px);
    }
    .ad-container img {
        max-width: 90%;
    }
    
}

@media screen and (max-width:600px){
    .slider-item{
        top: 58%;
    }
    .slider-desc{
        margin-left: 9%;
        font-size: 1.2rem;
        line-height: 32px;
    }
    .hero-container,.slider-container{
        min-height: 245px;
    }
    .slider img{
        object-fit: cover;
    }
    .prev{
        left: 3.2%;
    }
    .next{
        right: 3.2%;
    }
    .discover-btn{
        margin-left: 9%;
        margin-top: 20px;
    }
    .discover-btn .arrow{
        width: 12px;
    }
    .search-wrapper{
        width: 53%;
        padding:8px 20px 12px;
        transform: translate(-50%,-20px);
    }
    .search-wrapper input{
        font-size: 0.65rem;
        padding: 0px 24px 7px;
    }
    .input-container img{
        width: 10px;
    }
    .recent-searches{
        padding-top: 45px;
    }
    .section-title{
        font-size: 1.25rem;
    }
    .popular-shoes-container{
        padding: 40px 0 4.1%;
        gap: 50px;
        width: 85%;
    }
    .brand-box{
        width: 100px;
        height: 100px;
    }
    .popular-shoe-container{
        gap: 22px;
    }
    .brand-name{
        font-size: 0.7rem;
    }
    .shop-under-budget{
        padding: 45px 0 110px;
    }
    .budget-price{
        margin-top: 3px;
    }
    .insta-fixed-container{
        width: 26px;
        height: 26px;
    }
    .insta-fixed-container img{
        width: 16px;
        height: 16px;
    }
    .ad-container{
        transform: translateY(-65px);
    }
    
   
}

@media  screen and (max-width:480px){
    .slider-desc{
        width: 40%;
        margin-left: 9%;
        font-size: 0.9rem;
        line-height: 25px;
    }
    .slider-btn img{
        width: 12px;
    }
    .prev{
        left: 3%;
    }
    .next{
        right: 3%;
    }
    .search-wrapper{
        width: 60%;
        padding:6px 14px 12px;
        transform: translate(-50%,-15px);
    }
    .search-wrapper input{
        font-size: 0.65rem;
        padding: 0px 24px 7px;
    }
    .input-container img{
        width: 10px;
    }
    .section-title{
        font-size: 1.1rem;
    }
    .recent-search-list {
        max-width: 90%;
    }
    .popular-shoes-container{
        padding: 40px 0 4.1%;
        gap: 40px;
        max-width: 100%;
    }

    .brand-box{
        width: 95px;
        height: 95px;
    }
    .popular-shoe-container{
        gap: 20px;
    }
    .brand-name{
        font-size: 0.65rem;
    }
    .shop-under-budget{
        padding: 35px 0 80px;
    }
    .shop-button-container {
        padding-top: 40px;
        gap: 30px;
    }
    .insta-fixed-container{
        width: 24px;
        height: 24px;
    }
    .insta-fixed-container img{
        width: 14px;
        height: 14px;
    }
    
    
}

